@model IEnumerable<Store.Models.tProducts>

@{
    ViewBag.Title = "Product";
}
<body>
    <h2>商品列表</h2>

    <table class="table">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <button onclick="AddCart(@item.ProductID)" @*data-productID="@item.ProductID"*@>加入購物車</button>
                </td>
            </tr>
        }

    </table>
    <script src="~/Scripts/Product.js"></script>
</body>